/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

/* Main */

body {
  margin: 0;
  font-family: 'lexend', sans-serif;
}

main {
  margin-left: 20px;
  margin-right: 20px;
  font-family: 'lexend', sans-serif;
}

h1 {
  background-color: rgba(133, 102, 133, 0.781);
  text-align: center;
  font-family: 'lexend', sans-serif;
}

/* Navbar */
.navbar a {
  color: rgb(25, 25, 83);
}
.navbar a:hover {
  background-color: purple;
}

/* Cards */

.card-img-top {
  width: 300px; 
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.card-header {
  text-align: center;
}

.card-text {
  font-family: 'lexend', sans-serif;
  font-size: large;
  text-align: left;
}

.card-title {
  font-size: larger;
  text-align: center;
  color: purple;
}

.blockquote {
  font-size: medium;
}
